<div>
<app-tabs (closeEvent)="removeLocationByIndex($event)">
  <app-tab *ngFor="let location of currentConditionsByZip; let i = index; let last = last" [active]="last"
    [tabstyte]="last ? 'well flex' : 'inactive'" [id] = "i"  [title]="location.data.name + '('+location.zip+')'" >
    <div>
      <h4>Current conditions: {{location.data.weather[0].main}}</h4>
      <h4>Temperatures today:</h4>
      <p>
        Current {{location.data.main.temp | number:'.0-0'}}
        - Max {{location.data.main.temp_max | number:'.0-0'}}
        - Min {{location.data.main.temp_min | number:'.0-0'}}
      </p>
      <p>
        <a [routerLink]="['/forecast', location.zip]">Show 5-day forecast for {{location.data.name}}</a>
      </p>
    </div>
    <div>
      <img [src]="location.iconurl">
    </div>
  </app-tab>
</app-tabs>
</div>